body {
  margin: 0 auto;
}
a, a:visited {
  text-decoration: none;
  color: black;
}
header {
  color: white;
  background: rgb(73, 73, 73);
  text-align: center;
  padding: 10px;
  height: 187px;
}
header h1, header h3 {
  font-family: 'Lucida console', monospace;
  margin: 0 auto;
}
header a {
  text-decoration: none;
  color: white;
}
header a:visited {
  text-decoration: none;
  color: white;
}
header a:hover {
  color: skyblue;
  background: none;
}
.jaunty {
  border-right: 309px solid black;
  border-top: 33px solid transparent;
  border-bottom: 15px solid transparent;
  height: 78px;
  width: 0px;
  font-size: 24px;
  margin: 0 auto;
}
.jaunty h1 {
  padding-left: 46px;
  padding-top: 10px;
}
.lightblue {
  color: skyblue;
}
nav {
  background: rebeccapurple;
  -webkit-transform: translateY(5px) translateX(2px) rotate(-1deg);
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
nav li {
  line-height: 40px;
}
main {
  margin: 0 5%;
  margin-top: 55px;
}
.fancy {
  font-family: 'Lucida console', monospace;
}
.fancy a, .fancy a:visited {
  color: black;
}
.capitalize {
  text-transform: capitalize;
}
.music-note {
  height: 100px;
}
.poems {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.thumbnail {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  border: 2px solid gray;
  margin: 10px 0;
}
.thumbnail:hover {
  border: 2px solid skyblue;
}
.thumb-text {
  padding: 10px;
  padding-left: 20px;
}
.page-header {
  margin-left: 9%;
}
.profile-links {
  margin: 20px;
  margin-left: 9%;
}
.spacer {
  margin: 0 20px;
}
.basic-link:hover {
  border-bottom: 2px solid skyblue;
}
.simple {
  border-radius: 15px;
  border: 2px solid gray;
  padding: 20px 0 20px 20%;
}
.poem-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
  margin: 10px 0;
  margin-left: -85px;
}
.poem-header-text{
  margin: 0 20px;
}
.gray-bg {
  background: rgb(233, 232, 232);
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
}
.gray-bg:hover {
  background: skyblue;
}
.highlight {
  background: skyblue;
}
.songthumb {
  background: rgb(233, 232, 232);
  border-radius: 15px; 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
  width: 350px;
  margin-bottom: 10px;
}
.songthumb-img {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.songthumb-text {
  margin: 0 20px;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 16px solid rgb(233, 232, 232);
  margin-left: 30px;
}
.invisible {
  background: none;
  border: none;
}
.search {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.search input {
  width: 100%;
  height: 20px;
}
.lyric-line {
  margin: 10px 0;
} 
.lyric-break {
  margin: 10px 0;
  margin-top: 25px;
}
.result-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.result-img {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}
.result-text {
  margin-left: 20px;
}
.form-button {
  background: gray;
  color: white;
  margin: 0 5px;
  margin-top: 2px;
  height: 20px;
  border-radius: 5px;
}
.form-button:hover {
  background: skyblue;
}
.lyric-add-text {
  font-style: italic;
  padding-left: 15px;
}
select {
  margin: 0 5px;
}
.center {
  text-align: center;
  padding: 0 0 100px 0;
}
input {
  margin: 10px 5px;
}

@media only screen and (max-width: 600px) {
  .simple {
    padding: 20px;
  }
  .songthumb {
    width: 90%;
  }
  .poem-header {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  .poem-header .music-note {
    position: absolute;
    right: 40px;
  }
  .basic-link {
    border-bottom: 2px solid skyblue;
  }
}